@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .group {
    @apply bg-white rounded-lg drop-shadow-lg hover:drop-shadow-xl p-3;
  }
  .input-group {
    @apply bg-white rounded-lg drop-shadow-lg hover:drop-shadow-xl p-3 break-inside-avoid-column;
  }

  .input-label {
    @apply block mb-2 font-semibold text-sm;
  }

  .input-namazu {
    @apply block mb-4 bg-gray-50 border border-gray-300 rounded-lg p-1 w-full;
  }

  .checkbox-label {
    @apply block mb-2 text-base;
  }

  .checkbox-namazu {
    @apply bg-gray-50 border border-gray-300 rounded-lg p-1;
  }

  .tag {
    @apply bg-sky-600 text-neutral-50 text-sm px-2 py-1 font-semibold drop-shadow-sm rounded-full;
  }

  .button {
    @apply rounded-full drop-shadow-xl font-semibold p-3 text-lg w-full;
  }

  p {
    @apply mb-2;
  }
}
