<footer class="bg-gray-100 border-t-2 h-full border-gray-200">
  <div class="container mx-auto pt-10 px-32 flex justify-between">
    <div>
      <img class="h-16" src="<%= Routes.static_path(@conn, "/images/logo-eost.svg") %>" />
    </div>
    <div>
      <img class="h-16" src="<%= Routes.static_path(@conn, "/images/logo-resif.svg") %>" />
    </div>
    <div>
      <img class="h-16" src="<%= Routes.static_path(@conn, "/images/logo-cnrs.svg") %>" />
    </div>
  </div>
</footer>
