<nav class="mx-auto container flex justify-between border-x-3 border-b-3 bg-white rounded-b-lg drop-shadow-xl p-3">
  <div>
    <img class="h-20" src="<%= Routes.static_path(@conn, "/images/logo-bcsf-renass.svg") %>" />
  </div>
</nav>
