<!DOCTYPE html>
<html class="min-h-full bg-gray-100">
<head>
  <%= csrf_meta_tag() %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= @title %> - FranceSeisme
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css" ) %>" />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js" ) %>"></script>
</head>
<body class="bg-slate-50 min-h-full">
  <nav class="mx-auto container flex justify-between border-x-3 border-b-3 bg-white rounded-b-lg drop-shadow-xl p-3">
    <div>
      <img class="h-20" src="<%= Routes.static_path(@conn, "/images/logo-bcsf-renass.svg") %>" />
    </div>
  </nav>
  <%= @inner_content %>
</body>
<footer class="bg-gray-100 border-t-2 h-fulll border-gray-200">
  <div class="container p-8 mx-auto pt-5 px-16 md:pt-10 md:px-32 flex justify-between">
    <div>
      <img class="h-8 md:h-16" src="<%= Routes.static_path(@conn, "/images/logo-eost.svg") %>" />
    </div>
    <div>
      <img class="h-8 md:h-16" src="<%= Routes.static_path(@conn, "/images/logo-epos-france.svg") %>" />
    </div>
    <div>
      <img class="h-8 md:h-16" src="<%=  Routes.static_path(@conn, "/images/logo-cnrs.svg") %>" />
    </div>
  </div>
</footer>
</html>
