<%= if type == "individual" do %>
<b>Mail individuel</b>
<p>
Votre email : <%= testimony.email %>
</p>
<p>
Merci d'avoir apporté votre témoignage pour cet évenement :
<a href="https://renass.unistra.fr/fr/evenements/<%= event_publicid %>">https://renass.unistra.fr/fr/evenements/<%= event_publicid %></a>
</p>
<p>
Voici le lien permettant de consulter vos réponses et de les modifier :
<a href="<%= testimony_base_url %>/temoignages/individuels/<%= testimony.key %>"><%= testimony_base_url %>/temoignages/individuels/<%= testimony.key %></a>
</p>
<% else %>
<b>Mail collectif</b>
<p>
Votre email : <%= testimony.email %>
</p>
<p>
Merci d'avoir apporté votre témoignage pour cet évenement :
<a href="https://renass.unistra.fr/fr/evenements/<%= event_publicid %>">https://renass.unistra.fr/fr/evenements/<%= event_publicid %></a>
</p>
<p>
Voici le lien permettant de consulter vos réponses et de les modifier :
<a href="<%= testimony_base_url %>/temoignages/collectifs/<%= testimony.key %>"><%= testimony_base_url %>/temoignages/collectifs/<%= testimony.key %></a>
</p>
<% end %>
