<%= if type == "individual" do %>
Mail individuel
---
Votre email : <%= testimony.email %>
Merci d'avoir apporté votre témoignage pour cet évenement :
https://renass.unistra.fr/fr/evenements/<%= event_publicid %>
---
Voici le lien permettant de consulter vos réponses et de les modifier :
<%= testimony_base_url %>/temoignages/individuels/<%= testimony.key %>
<% else %>
Mail collectif
---
Votre email : <%= testimony.email %>
Merci d'avoir apporté votre témoignage pour cet évenement :
https://renass.unistra.fr/fr/evenements/<%= event_publicid %>
---
Voici le lien permettant de consulter vos réponses et de les modifier :
<%= testimony_base_url %>/temoignages/collectifs/<%= testimony.key %>
<% end %>
