<div>
<table class="table-auto w-full text-xs">
  <thead class="pb-2 mb-2">
    <tr>
      <th><%= gettext "Universal datetime" %></th>
      <th><%= gettext "Local datetime" %></th>
      <th>Magnitude</th>
      <th><%= gettext "Country" %></th>
    </tr>
  </thead>
  <tbody class="text-base">
    <%= for event <- @events do %>
    <tr>
      <td class="text-center"><%= format_date(event.preferred_origin.time, @locale) %> <%= format_time(event.preferred_origin.time, false) %></td>
      <td class="text-center"><%= format_date(event.localtime, @locale) %> <%= format_time(event.localtime, false) %></td>
      <td class="text-center">
        <a href="https://<%= @domain %><%= @event_uri_prefix %>/<%= event.publicid %>" target="_blank">
          <strong><%= event.preferred_magnitude.magnitude |> format_magnitude %></strong>
        </a>
      </td>
      <td>
        <%= country_flag(@conn, event.distinctive_city.country_iso2) %>
        <span class="align-middle"><%= event.distinctive_city.name %></span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="flex justify-between mt-4 mb-4">
  <div>
  <%= if @previous_link do %>
  <a class="button border-2 bg-neutral-50 hover:bg-neutral-100 border-sky-600 text-sky-600 text-sm w-1/3" href="<%= @previous_link %>"><%= @previous_label %></a>
  <% end %>
  </div>
  <div>
  <%= if @next_link do %>
  <a class="self-end button border-2 bg-neutral-50 hover:bg-neutral-100 border-sky-600 text-sky-600 text-sm w-1/3" href="<%= @next_link %>"><%= @next_label %></a>
  <% end %>
  </div>
</div>
