<section class="p-8">
  <div class="container mx-auto">
    <%= if @events_count > 0 do %>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="text-lg space-y-8">
        <div class="group p-8 text-justify">
          <div class="mb-8">
            <%= ngettext "You search returns one event.", "Your search returns %{events_count} events.", @events_count, events_count: @events_count %>
            <%= gettext "You can download your search result using one of the following formats :" %>
          </div>
          <div class="grid grid-cols-2 divide-x-2">
            <div class="p-3 m-3">
              <div class="grow">
                <span class="font-bold pb-3 block"><%= gettext "FDSN-Event webservice" %></span>
                  <p><%= gettext "XML standard developped by the research community." %></p>
                  <p><%= gettext "Researchers looking for the maximum information should use this format as it contains almost every event parameters." %></p>
                  <p>
                  <%= gettext("QuakeML documentation is available on the %{link}.", link: safe_to_string(link(gettext("FDSN website"), to: "https://www.fdsn.org/webservices/fdsnws-event-1.2.pdf"))) |> raw() %>
                  </p>
              </div>
              <div class="pt-2">
                <a class="block text-center button bg-sky-600 hover:bg-sky-700 text-neutral-50 m-2 text-sm" href="<%= @fdsn_text_path %>" download="events.txt"><%= gettext "Download Text" %></a>
                <a class="block text-center button bg-sky-600 hover:bg-sky-700 text-neutral-50 m-2 text-sm" href="<%= @fdsn_xml_path %>" download="events.xml"><%= gettext "Download QuakeML" %></a>
              </div>
            </div>
            <div class="flex flex-col p-3 m-3">
              <div class="grow">
                <span class="font-bold pb-3 block">GeoJSON</span>
                <p><%= gettext "JSON standard that can be easily parsed by developpers." %></p>
                <p><%= gettext("You can also easily open the link in GIS software like %{qgis_link}.", qgis_link: safe_to_string(link("QGIS", to: "https://www      .qgis.org"))) |> raw() %></p>
              </div>
              <div>
                <a class="align-bottom block text-center button bg-sky-600 hover:bg-sky-700 text-neutral-50 m-2 text-sm" href="<%= @geojson_path %>" download="events.json"><%= gettext "Download GeoJSON" %></a>
              </div>
            </div>
          </div>
          <div class="border-2 rounded-lg bg-grey-400 flex">
            <div class="m-2">
              <img src="<%= Routes.static_path(@conn, "/images/creative-commons-by.svg" ) %>" />
            </div>
            <div class="text-center text-sm m-auto">
              <span><%= gettext "The seismicity catalog data is freely available under a CC BY 4.0 license." %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="group text-lg">
        <%= events_table(@conn, @locale, @events, @events_count, @events_limit, @event_uri_domain, @event_uri_prefix, gettext("Previous page"), gettext("Next page")) %>
      </div>
    </div>
    <% else %>
      <%= gettext "Your search returns no event." %>
    <% end %>
  </div>
</section>
