<%= form_for @conn, Routes.event_path(@conn, :search_results, @locale), [method: :get], fn form -> %>
<section class="p-8">
  <div class="container mx-auto">
    <div class="columns-md gap-8 space-y-8">
      <div class="input-group">
        <label class="input-label"><%= gettext("Start date") %></label>
        <%= date_input(form, :start_date, class: "input-namazu") %>
        <label class="input-label"><%= gettext("End date") %></label>
        <%= date_input(form, :end_date, class: "input-namazu") %>
      </div>
      <div class="input-group">
        <div class="w-full flex justify-center">
          <div class="md:max-w-[33%]">
            <label class="input-label"><%= gettext("Maximal latitude") %></label>
            <%= number_input(form, :maximal_latitude, class: "input-namazu", step: 0.01) %>
          </div>
        </div>
        <div class="w-full flex justify-between">
          <div class="md:max-w-[33%]">
            <label class="input-label"><%= gettext("Minimal longitude") %></label>
            <%= number_input(form, :minimal_longitude, class: "input-namazu", step: 0.01) %>
          </div>
          <div class="md:max-w-[33%]">
            <label class="input-label"><%= gettext("Maximal longitude") %></label>
            <%= number_input(form, :maximal_longitude, class: "input-namazu", step: 0.01) %>
          </div>
        </div>
        <div class="w-full flex justify-center">
          <div class="md:max-w-[33%]">
            <label class="input-label"><%= gettext("Minimal latitude") %></label>
            <%= number_input(form, :minimal_latitude, class: "input-namazu", step: 0.01) %>
          </div>
        </div>
      </div>
      <div class="input-group">
        <label class="input-label"><%= gettext("Minimal magnitude") %></label>
        <%= number_input(form, :minimal_magnitude, class: "input-namazu", step: 0.1) %>
        <label class="input-label"><%= gettext("Maximal magnitude") %></label>
        <%= number_input(form, :maximal_magnitude, class: "input-namazu", step: 0.1) %>
      </div>
      <div class="input-group">
        <label class="input-label"><%= gettext("Minimal depth") %></label>
        <%= number_input(form, :minimal_depth, class: "input-namazu") %>
        <label class="input-label"><%= gettext("Maximal depth") %></label>
        <%= number_input(form, :maximal_depth, class: "input-namazu") %>
      </div>
      <div class="input-group">
        <label class="input-label"><%= gettext("Event ID") %></label>
        <%= text_input(form, :event_id, class: "input-namazu") %>
      </div>
      <div class="input-group">
        <label class="input-label"><%= gettext("Maximal radius (in degrees)") %></label>
        <%= number_input(form, :maximal_radius, class: "input-namazu", step: 0.01) %>
        <label class="input-label"><%= gettext("Latitude center") %></label>
        <%= number_input(form, :latitude, class: "input-namazu", step: 0.01) %>
        <label class="input-label"><%= gettext("Longitude center") %></label>
        <%= number_input(form, :longitude, class: "input-namazu", step: 0.01) %>
      </div>
      <div class="input-group">
        <label class="input-label"><%= gettext("Limit") %></label>
        <%= number_input(form, :limit, class: "input-namazu") %>
        <label class="input-label"><%= gettext("Offset") %></label>
        <%= number_input(form, :offset, class: "input-namazu") %>
        <label class="input-label"><%= gettext("Order by") %></label>
        <%= select(form, :order_by, [
              [key: gettext("Descending time"), value: :descending_time],
              [key: gettext("Ascending time"), value: :ascending_time],
              [key: gettext("Descending magnitude"), value: :descending_magnitude],
              [key: gettext("Ascending magnitude"), value: :ascending_magnitude]
            ], class: "input-namazu") %>
      </div>
      <div class="input-group">
        <label class="input-label"><%= gettext("Event types") %></label>
        <%= for event_type <- @event_types do %>
          <% translated_event_type = Gettext.dgettext(Namazu.Gettext, "event_types", event_type.event_type) |> String.capitalize() %>
          <label class="checkbox-label">
            <%= checkbox(form, "event_type_#{event_type.event_type}" |> String.to_atom(), class: "checkbox-namazu") %>
            &nbsp;<%= translated_event_type %>
            <span class="tag"><%= event_type.count %></span>
          </label>
          </p>
        <% end %>
      </div>
    </div>
    <div class="mt-8 gap-4 flex justify-evenly">
      <input type="reset" class="button border-2 bg-neutral-50 hover:bg-neutral-100 border-sky-600 text-sky-600" value="<%= gettext("Reset") %>">
      <button type="submit" class="button bg-sky-600 hover:bg-sky-700 text-neutral-50"><%= gettext "Search" %></button>
    </div>
  </div>
</section>
<% end %>
